/* RegistroPersonas.css */

.registro-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  
  .formulario-arriba {
    display: flex;
    justify-content: space-between;
  }
  
  .formulario-izquierda,
  .formulario-derecha,
  .formulario-abajo {
    width: 48%;
  }
  
  .formulario-izquierda {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    color: #333;
    border-radius: 8px; /* Puntas redondas */

    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .formulario-izquierda label {
    display: block;
    margin-bottom: 8px;
  }
  
  .formulario-izquierda input,
  .formulario-izquierda select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: #eee; /* Fondo gris para los select */
    border: 1px solid #ccc; /* Borde gris para los select */
    border-radius: 4px; /* Puntas redondas para los select */
  }
  
  .formulario-derecha {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    color: #333;
    border-radius: 8px; /* Puntas redondas */
  }
  
  .contacto-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 10px; /* Espacio entre elementos */
  }
  
  .contacto-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .formulario-abajo2{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* tres columnas */
    gap: 10px; /* Espacio entre elementos */
  }
  
  .formulario-derecha label,
  .formulario-derecha button {
    display: block;
    margin-bottom: 8px;
  }
  
  .formulario-derecha input,
  .formulario-derecha select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: #eee; /* Fondo gris para los select */
    border: 1px solid #ccc; /* Borde gris para los select */
    border-radius: 4px; /* Puntas redondas para los select */
  }
  
  .formulario-derecha button {
    width: 50%;
    margin: 20px auto; /* Añado margen automático horizontalmente y 20px arriba/abajo */
    padding: 8px;
    font-size: 14px;
    background-color: #0d47a1;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 4px;
  }
  
  .formulario-derecha button:hover {
    background-color: #082366;
  }
  
  .contacto-titulo {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .contacto-lista {
    margin-top: 15px;
  }
  
  .formulario-abajo {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    color: #333;
    border-radius: 8px; /* Puntas redondas */
    justify-self: center;
  }

  .direccion-titulo{
    text-align: center;
  }
  
  .formulario-abajo label,
  .formulario-abajo input,
  .formulario-abajo select {
    width: 100%;
    display: block;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: #eee; /* Fondo gris para los select */
    border: 1px solid #ccc; /* Borde gris para los select */
    border-radius: 4px; /* Puntas redondas para los select */
  }
  

  .direccion-titulo {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .registrar-btn {
    display: flex;
    width: 50%;
    margin: 20px auto; /* Añado margen automático horizontalmente y 20px arriba/abajo */
    padding: 8px;
    font-size: 14px;
    background-color: #0d47a1;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 4px;
    justify-content: center;
  }
  .registrar-btn:hover {
    background-color: #082366;
  }
  
  .Botones-registro {
    display: flex; /* Mostrar los botones en línea */
    gap: 10px; /* Espacio entre los botones */
  }
  